
.ResultsTableDiv {
  text-align: center;
  margin-left: 20%;
  margin-right:20%;
  margin-top: 10px;
  background-color: #df9a45;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.ResultsTableDiv hr {
  width: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  font-size: 16px;
}

th {
  text-align: center;
  font-size: 24px;
}

tr:nth-child(even) {
  background-color: #89663b;
}
tr:nth-child(odd) {
  background-color: #A38B5F;
}

.newRowbutton {
  background-color: #679c5f;
  border: none;
  color: #fff;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.modal-content h1 {
  text-align: center;
}

.modal-content hr {
  margin: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
